* {
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    height: 60px;
    transition: transform 0.3s;
}

#logo:hover {
    transform: scale(1.1);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(100%);
}